@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
  color: black;
}

h2 {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

button:hover {
  cursor: pointer;
  filter: brightness(96%);
}

button:active {
  position: relative;
  top: 1px;
}