@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
  color: black;
}

button {
  background: #005bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}

button:hover {
  cursor: pointer;
  filter: brightness(96%);
}

button:active {
  position: relative;
  top: 1px;
}

@media (hover: hover) {
  a:hover {
    /*background-color: lightgray;*/
  }
}

@media (min-width: 1024px) {
  body {
    /*display: flex;*/
    /*place-items: center;*/
  }
}
